/* Para importar fuentes desde google fonts en la hoja de estilo. con esto no se necesita tener un link en el html. Los @import siempre van al principio de la hoja de estilos */

@import url('https://fonts.googleapis.com/css?family=Mina:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* simpre comenzar nuestro css con la siguiente regla.
si no la escribimos en nuestro css estará incorporada al principìo de la hoja de reseteo.
Siempre podemos crearnos nuestra propia hoja de estilo de reseteo
*/

*, 
*::after, *::before,
*:after, *:before{
    box-sizing: border-box;
}

body, figure {
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
}



.container {
    background: white;
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 680px;
    padding: 0 1rem;
}

header h1 {
    color: maroon;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

header h2 {
    color:gray;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
}

.portada {
    overflow: hidden;
}

h2 {
    color: maroon;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3 {
    color:gray;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: circle;
}

article {
    width: 60%;
    float: left;
}

aside {
    width: 35%;
    margin-left:5%;
    float: left;
}


.datos {
    font-family: 'Mina', sans-serif;
    padding: 0;
    margin: 0;
    background: rgba(225,243,247,0.38);
    background: -moz-linear-gradient(top, rgba(225,243,247,0.38) 0%, rgba(225,243,247,1) 15%, rgba(225,243,247,1) 33%, rgba(221,230,168,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,243,247,0.38)), color-stop(15%, rgba(225,243,247,1)), color-stop(33%, rgba(225,243,247,1)), color-stop(100%, rgba(221,230,168,1)));
    background: -webkit-linear-gradient(top, rgba(225,243,247,0.38) 0%, rgba(225,243,247,1) 15%, rgba(225,243,247,1) 33%, rgba(221,230,168,1) 100%);
    background: -o-linear-gradient(top, rgba(225,243,247,0.38) 0%, rgba(225,243,247,1) 15%, rgba(225,243,247,1) 33%, rgba(221,230,168,1) 100%);
    background: -ms-linear-gradient(top, rgba(225,243,247,0.38) 0%, rgba(225,243,247,1) 15%, rgba(225,243,247,1) 33%, rgba(221,230,168,1) 100%);
    background: linear-gradient(to bottom, rgba(225,243,247,0.38) 0%, rgba(225,243,247,1) 15%, rgba(225,243,247,1) 33%, rgba(221,230,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f3f7', endColorstr='#dde6a8', GradientType=0 );
    border-bottom: .2rem solid;
    border-top: .2rem solid;
    padding: 1rem;
}

.datos table {
    border-collapse: collapse;
    background: rgba(255, 255, 255,.3);
    width: 100%;
}

.datos th{
    border: .2rem solid white;
    padding: 0 .2rem;
}
.datos td{
    border: .1rem dotted white;
    padding: 0 .2rem;
}

figure:not(.portada) {
    border: 3px solid rgb(140, 191, 233);
    margin-bottom: 1rem;
}

figure.portada {
    max-height: 400px;
}

figure.portada img {
    width:100%;
}

figure.panel img {
    width: 20%;
    vertical-align: top; 
}

figure.video {
    width: 100%;
}

figure.video video {
    width:100%;
}

figure.panel img:not(:first-of-type){
    margin-left: -5.3px;
}

footer {
    clear: both;
    color: navy;
}