/* Para importar fuentes desde google fonts en la hoja de estilo. con esto no se necesita tener un link en el html. Los @import siempre van al principio de la hoja de estilos */

@import url('https://fonts.googleapis.com/css?family=Lobster|Mina:400,700');

/* simpre comenzar nuestro css con la siguiente regla.
si no la escribimos en nuestro css estará incorporada al principìo de la hoja de reseteo.
Siempre podemos crearnos nuestra propia hoja de estilo de reseteo
*/

*, 
*::after, *::before,
*:after, *:before{
    box-sizing: border-box;
}

body {
    font-family: 'Mina', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2rem;
    max-width: 1080px;
    min-width: 680px;
    box-shadow: 0 0 1rem .2rem lightgray;
    padding: 3rem 2rem;
}

header h1 {
    color: maroon;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

header h2 {
    color:gray;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3rem;
}

.portada {
    overflow: hidden;
}

h2 {
    color: maroon;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3 {
    color:gray;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: circle;
}

footer {
    color: navy;
}