main {
    width: 60%;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 1rem;
}

.control-group {
    padding: .4rem;
}

.control-group label {
    width: 40%;
    min-width: 2rem;
    display: inline-block;
    /* porque es un elemento en línea */
}

.control-group input {
    width: 40%;
    min-width: 10rem;
}

input:focus {
    border-color: rgb(70, 101, 202);
}

.hidden {
    display: none;
}

.select-group {
    margin-top: 1rem;
}

div.check-group {
    margin-top: .5rem
}

.check-group label, .radio-group label {
    padding-right: 1rem
}